<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/calculate.css">
    <title>Cash Calculator</title>
</head>


<body>
    <form method="POST" action="/calculate">
        <h2>Cash Register</h2>
        <label for="du">Product Price (€):</label>
        <input type="number" name="du" id="du" step="0.01" required><br><br>

        <label for="donne">Amount Given (€):</label>
        <input type="number" name="donne" id="donne" step="0.01" required><br><br>

        <button type="submit">Calculate</button>

        <div for="montantARendre" class="result-section">
            <!-- result of Amount to be returned -->
            <% if (typeof result !=='undefined' && result !==null) { %>
                <div>Amount to return : <%= Number(result).toFixed(2) %> €</div>
                <% } %>
        </div>
        <div for="rendu" class="result-section">
            <!-- result of Change to be given -->
          <% if (typeof rendu !== 'undefined' && rendu) { %>
  <h3>Change to be given:</h3>
  <table style="border-collapse: collapse; margin-bottom: 20px;">
    <tr>
      <% for (let denom in rendu) { %>
        <th style="border: 1px dashed #ccc; padding: 5px 10px;"><%= denom %></th>
      <% } %>
    </tr>
    <tr>
      <% for (let denom in rendu) { %>
        <td style="border: 1px dashed #ccc; padding: 5px 10px; text-align: center;">
          <%= rendu[denom] %>
        </td>
      <% } %>
    </tr>
  </table>
<% } %>

<% if (typeof etatCaisse !== 'undefined' && etatCaisse) { %>
  <h3>Register cash balance:</h3>
  <table style="border-collapse: collapse; align-items: center; margin-top: 10px;">
    <tr>
      <% for (let denom in etatCaisse) { %>
        <th style="border: 1px dashed #ccc; padding: 5px 10px;"><%= denom %></th>
      <% } %>
    </tr>
    <tr>
      <% for (let denom in etatCaisse) { %>
        <td style="border: 1px  dashed #ccc; padding: 5px 10px; text-align: center;">
          <%= etatCaisse[denom] %>
        </td>
      <% } %>
    </tr>
  </table>
<% } %>

    </form>


</body>

</html>